
/* Makes a previously square element round, adding a thin border */
.round-image {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(var(--blueUltraLightViolett));
}

/* Dynamically scaling image size, with a minimum 200px width */
.profile-image-size {
  min-width: 200px;
  width: 20vw;
}

/* Correct color for the name of a person */
.person-name {
  color: rgb(var(--primaryPurple));
}

/* Margin around a complete profile entry */
.profile-entry-spacing {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 80px;
}

@media (max-width: 800px) {
  .profile-entry-spacing {
    margin-top: 40px;
  }
}

/* Prevents an element (e.g. an image) from being dragged */
.undraggable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* 
  Text options 
*/
.bold-text {
  font-weight: bold;
}

.small-text {
  font-size: 0.8em;
}

.center-text {
  text-align: center;
}

/* 
  Layout options 
*/
@media (max-width: 800px) {
  .section--top-spacing {
    margin-top: 60px;
  }
}

.small-margin-above {
  margin-top: 8px;
}

@media (max-width: 800px) {
  .small-margin-above {
    margin-top: 4px;
  }
}

.medium-margin-below {
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .medium-margin-below {
    margin-bottom: 20px;
  }
}

.horizontally-centered {
  display: inline-block;
}

/* full-width class that uses the entire available width in the center of the grid */
.section_standard_w_image-left_text .full-width {
  width: calc(90vw / 13 * 11);
  max-width: calc(1800px / 13 * 11);
  display: inherit;
  grid-column: initial;
}

@media (max-width: 1000px) {
  .section_standard_w_image-left_text .full-width {
    width: calc(90vw / 13 * 9);
  }
}

@media (max-width: 700px) {
  .section_standard_w_image-left_text .full-width {
    width: calc(90vw / 13 * 11);
  }
}

@media (max-width: 350px) {
  .section_standard_w_image-left_text .full-width {
    width: 90vw;
  }
}
