
/* Specifies a min height for the intro image to prevent the page layout changing during the page loading process */
#intro_image {
  min-height: calc(90vw * 0.4671);
}

/* Div that contains a number of profile entries from the team */
#team_profiles {
  text-align: center;
  display:block;
  grid-column: 1/14;
  width: 100%;
}

/* A single profile entry */
.team_profile {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: var(--root80px);
  display: inline-block;
  text-align: center;
}

/* A round profile picture with a thin border */
.team_profile img {
  /* Dynamically scaling image size, with a minimum 200px width */
  min-width: 200px;
  min-height: 200px;
  width: 20vw;
  height: 20vw;
  margin-bottom: var(--root24px);
}

/* A list of responsibilities a given team member has */
.team_profile ul {
}

/* Makes sure the list is displayed in a single line */
.team_profile ul,
.team_profile ul li {
  display: inline-flex;
}

/* Adds a small dot inbetween responsibilities */
.team_profile ul li:not(:last-child)::after {
  width: var(--root24px);
	height: var(--root24px);
	content: "\B7";
  text-align: center;
}

/* A paragraph containing the team member's email address */
.team_profile p {
  font-weight: 700;
}
