.team_profiles {
  grid-column: 2/13;
  margin-top: var(--root120px);
}

.team_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--root80px);
}

/* @media (max-width: 800px) {
  .team_profile {
    margin-top: 40px;
  }
} */

.team_profile img {
  min-width: 200px;
  width: 20vw;
  margin-bottom: var(--root24px);
}

.team_profile ul,
.team_profile ul li {
  display: flex;
}

.team_profile ul li:not(:last-child)::after {
  width: var(--root24px);
	height: var(--root24px);
	content: "\B7";
  text-align: center;
}

.team_profile p {
  text-align: center;
}

/* full-width class that uses the entire available width in the center of the grid */
/* .section_standard_w_image-left_text .full-width {
  width: calc(90vw / 13 * 11);
  max-width: calc(1800px / 13 * 11);
}

@media (max-width: 1000px) {
  .section_standard_w_image-left_text .full-width {
    width: calc(90vw / 13 * 9);
  }
}

@media (max-width: 700px) {
  .section_standard_w_image-left_text .full-width {
    width: calc(90vw / 13 * 11);
  }
}

@media (max-width: 350px) {
  .section_standard_w_image-left_text .full-width {
    width: 90vw;
  }
} */
