.bank-transfer {
  background-color: var(--purple_ultraLight);
  text-align: center;
  border-radius: var(--root16px);
  padding: var(--root80px);
  margin-top: var(--root120px);
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

.bank-transfer h2 {
  margin-bottom: var(--root40px);
}

/* detects iban as phone number and adds an anchor tag */
.bank-transfer a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

@media (max-width: 600px) {
  .bank-transfer {
    padding: var(--root40px) var(--root24px);
  }
}
