.donation-options_buttons {
    display: grid;
    gap: var(--root40px);
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.donation-options_button {
    display: flex;
    align-items: center;
    padding: var(--root16px);
    border-radius: var(--root16px);
    background-color: rgb(var(--primaryTextLight));
}

.donation-options_button_icon-container {
    width: var(--root40px);
    height: var(--root40px);
    background-color: rgb(var(--primaryPurple));
    border-radius: var(--root8px);
    margin-right: var(--root24px);
    flex-shrink: 0;
}

.donation-options_button p {
    color: black;
}
