/* -------------------------------------------------------------------------------- */
/* --- footer --- */
/* -------------------------------------------------------------------------------- */

.footer_social-media {
  grid-column: 6/13;
  display: block;
  margin-bottom: var(--root120px);
}

@media (max-width: 750px) {
  .footer_social-media {
    grid-column: 2/13;
  }
}

@media (max-width: 450px) {
  .footer_social-media {
    grid-column: 1/14;
  }
}

.footer_social-media p {
  font-family: "neue-kabel";
  font-size: var(--root40px);
  font-weight: 700;
  line-height: 1.2;
}

.footer_social-media a {
  color: rgb(var(--primaryRed));
  line-height: 1.3;
}

/* -------------------------------------------------------------------------------- */
/* --- navigation --- */
/* -------------------------------------------------------------------------------- */

.footer_nav {
  grid-column: 1/14;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--root40px);
}

.footer_nav * {
  font-family: "neue-kabel";
  font-weight: 700;
  color: rgb(var(--primaryPurple));
}

.footer_nav_list {
  display: flex;
}

.footer_nav_list li {
  padding: var(--root8px) var(--root16px);
  border-radius: calc(var(--root24px) + 2 * var(--root24px));
  margin-left: var(--root32px);
}

.footer_nav_list li:hover {
  background-color: rgb(var(--primaryTextLight));
}

@media (max-width: 800px) {
  .footer_nav_list {
    display: none;
  }
}
