/* -------------------------------------------------------------------------------- */
/* --- footer --- */
/* -------------------------------------------------------------------------------- */

.footer_social-media {
  grid-column: 6/13;
  display: block;
  margin-bottom: 10.42em; /* 250px // based on 24px */
  position: revert;
  z-index: 1;
}

.footer_social-media p {
  font-family: "neue-kabel";
  font-size: var(--root32px);
  font-weight: 700;
  line-height: 1.2;
}

.footer_social-media a {
  font-size: var(--root32px);
  color: rgb(var(--primaryRed));
}

.footer_social-media img {
  position: absolute;
  bottom: 10rem;
  left: 10vw;
  width: 40%;
  height: auto;
  z-index: -1;
}

@media (max-width: 1400px) {
  .footer_social-media img {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .footer_social-media img {
    bottom: 8rem;
    left: 5vw;
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .footer_social-media img {
    left: -15vw;
    width: 80%;
  }
}

@media (max-width: 750px) {
  .footer_social-media {
    grid-column: 2/13;
  }

  .footer_social-media img {
    left: 25vw;
  }
}

@media (max-width: 650px) {
  .footer_social-media {
    grid-column: 2/13;
  }

  .footer_social-media img {
    display: none;
  }
}

@media (max-width: 450px) {
  .footer_social-media {
    grid-column: 1/14;
  }
}

/* -------------------------------------------------------------------------------- */
/* --- navigation --- */
/* -------------------------------------------------------------------------------- */

.footer_nav {
  grid-column: 1/14;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--root40px);
}

.footer_nav * {
  font-family: "neue-kabel";
  font-weight: 700;
  color: rgb(var(--primaryPurple));
}

.footer_nav span {
  font-weight: 500;
}

.footer_nav_list {
  display: flex;
}

.footer_nav_list li {
  padding: var(--root8px) var(--root16px);
  border-radius: calc(var(--root24px) + 2 * var(--root16px)); /* fontsize + 2 * padding */
  margin-left: var(--root32px);
}

.footer_nav_list li:hover {
  background-color: rgb(var(--blueUltraLightViolett));
}

@media (max-width: 800px) {
  .footer_nav_list {
    display: none;
  }
}
