
/* -------------------------------------------------------------------------------- */
/* --- general --- */
/* -------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;

  overflow-x: hidden;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;

  scroll-padding-top: calc(var(--root24px) * 4 + var(--root80px) + var(--root40px));
  scroll-behavior: smooth;

  background-color: #FBFDFF;
}



/* -------------------------------------------------------------------------------- */
/* --- grid --- */
/* -------------------------------------------------------------------------------- */

.main-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding: 0 5vw;
  margin: calc(2 * var(--root48px) + var(--root80px) + var(--root40px)) auto 0 auto; /* 2 * (header padding+margin) + header content height + bottom spacing */
  max-width: 1800px;
}

@media (min-width: 2000px) {
  .main-grid {
    padding: 0;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- sections --- */
/* -------------------------------------------------------------------------------- */

section {
  grid-column: 1/14;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: relative;
}

.section--big-top-spacing {
  margin-top: 14.58em; /* 350px // based on 24px */
}

.section--small-top-spacing {
  margin-top: 10.42em; /* 250px // based on 24px */
}

@media (max-width: 500px) {
  .section--big-top-spacing,
  .section--small-top-spacing {
    margin-top: 5em;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- section text--- */
/* -------------------------------------------------------------------------------- */

.section_text {
  grid-column: 1/14;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: relative;
}

.section_text .section-headline--addition {
  grid-column: 3/12;
}

.section_text h1,
.section_text .section-headline {
  grid-column: 3/12;
  margin-bottom: var(--root40px);
}

.section_text > div {
  grid-column: 2/13;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.section_text > div > *:not(img) {
  grid-column: 2/11;
}

@media (max-width: 750px) {
  .section_text h1,
  .section_text .section-headline,
  .section_text .section-headline--addition {
    grid-column: 2/13;
  }

  .section_text > div > *:not(img) {
    grid-column: 1/12;
  }
}

@media (max-width: 450px) {
  .section_text h1,
  .section_text .section-headline,
  .section_text .section-headline--addition {
    grid-column: 1/14;
  }

  .section_text > div {
    grid-column: 1/14;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- section standard with image right --- */
/* -------------------------------------------------------------------------------- */

.section_text-w-image-right {
  align-items: center;
}

.section_text-w-image-right > img,
.section_text-w-image-right > .img-wrapper {
  width: 100%;
  grid-area: 1/9/1/14;
}

.section_text-w-image-right > div {
  grid-area: 1/1/1/8;
}

.section_text-w-image-right > div a {
  display: inline-flex;
  align-items: center;
}

.section_text-w-image-right > div a img {
  width: var(--root24px);
	height: var(--root24px);
  margin-right: var(--root16px);
}

/* Elements under each other, image on top */
@media (max-width: 1000px) {
  .section_text-w-image-right > img,
  .section_text-w-image-right > .img-wrapper {
    grid-area: 1/2/1/13;
    margin-bottom: 4.16em;
  }

  .section_text-w-image-right > div {
    grid-area: 2/2/2/13;
  }
}

@media (max-width: 450px) {
  .section_text-w-image-right > img,
  .section_text-w-image-right > .img-wrapper,
  .section_text-w-image-right > div {
    grid-column: 1/14;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- section standard with image left --- */
/* -------------------------------------------------------------------------------- */

.section_text-w-image-left {
  align-items: center;
}

.section_text-w-image-left > img,
.section_text-w-image-left > .img-wrapper {
  width: 100%;
  grid-area: 1/1/1/6;
}

.section_text-w-image-left > div {
  grid-area: 1/7/1/14;
}

.section_text-w-image-left > div a {
  display: inline-flex;
  align-items: center;
}

.section_text-w-image-left > div a img {
  width: var(--root24px);
	height: var(--root24px);
  margin-right: var(--root16px);
}

/* Elements under each other, image on top */
@media (max-width: 1000px) {
  .section_text-w-image-left > img,
  .section_text-w-image-left > .img-wrapper {
    grid-area: 1/2/1/13;
    margin-bottom: 4.16em;
  }

  .section_text-w-image-left > div {
    grid-area: 2/2/2/13;
  }
}

@media (max-width: 450px) {
  .section_text-w-image-left > img,
  .section_text-w-image-left > .img-wrapper,
  .section_text-w-image-left > div {
    grid-column: 1/14;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- section image full width --- */
/* -------------------------------------------------------------------------------- */

.section_image-full-width picture {
  grid-column: 1/14;
}



/* -------------------------------------------------------------------------------- */
/* --- section pattern--- */
/* -------------------------------------------------------------------------------- */

.section_pattern {
  grid-column: 1/14;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: relative;
}

.section_pattern .section-headline--addition {
  grid-column: 2/13;
  text-align: center;
}

.section_pattern h1,
.section_pattern .section-headline {
  grid-column: 2/13;
  margin-bottom: var(--root40px);
  text-align: center;
}

.section_pattern > div {
  grid-column: 2/13;
}

@media (max-width: 450px) {
  .section_pattern h1,
  .section_pattern .section-headline,
  .section_pattern .section-headline--addition {
    grid-column: 1/14;
  }

  .section_pattern > div {
    grid-column: 1/14;
    width: 100%;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- tiles --- */
/* -------------------------------------------------------------------------------- */

.tiles {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--root80px);
}

@media (max-width: 1400px) {
  .tiles {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

@media (max-width: 400px) {
  .tiles {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.tiles > li {
  display: inline-block;
  text-align: center;
}

.tiles > li h3 {
  margin-bottom: var(--root8px);
}

@media (max-width: 650px) {
  .tiles > li img {
    width: 80% !important;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- alternating tiles --- */
/* -------------------------------------------------------------------------------- */

.alternating-tiles > li {
  /* grid-column: 2/13; */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
}

.alternating-tiles > li:not(:last-child) {
  margin-bottom: var(--root80px);
}

.alternating-tiles_image-container {
  width: 100%;
  height: auto;
  border-radius: var(--root40px);
  flex-shrink: 0;
  overflow: hidden;
}

.alternating-tiles > li:nth-child(odd) > .alternating-tiles_image-container {
  grid-area: 1/1/1/5;
}

.alternating-tiles > li:nth-child(odd) > div:not(.alternating-tiles_image-container) {
  grid-area: 1/6/1/12;
}

.alternating-tiles > li:nth-child(even) > .alternating-tiles_image-container {
  grid-area: 1/8/1/12;
}

.alternating-tiles > li:nth-child(even) > div:not(.alternating-tiles_image-container) {
  grid-area: 1/1/1/7;
}

.alternating-tiles_image-container img {
  width: 100%;
}

.alternating-tiles h3 {
  margin-bottom: var(--root40px);
}

.alternating-tiles > li > div ul li {
  list-style-type: disc;
  margin-left: 1.1em;
}

.alternating-tiles > li > div ul li::marker {
  color: rgb(var(--primaryRed));
}

@media (max-width: 1000px) {
  .alternating-tiles > li:nth-child(odd) > .alternating-tiles_image-container,
  .alternating-tiles > li:nth-child(even) > .alternating-tiles_image-container {
    grid-area: 1/1/1/12;
  }

  .alternating-tiles > li:nth-child(odd) > div:not(.alternating-tiles_image-container),
  .alternating-tiles > li:nth-child(even) > div:not(.alternating-tiles_image-container) {
    grid-area: 2/1/2/12;
    margin-top: var(--root40px);
  }

  .alternating-tiles h3 {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .alternating-tiles .alternating-tiles_image-container {
    margin: 0 10%;
    width: 80%;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- link list --- */
/* -------------------------------------------------------------------------------- */

.link-list {
  display: grid;
  gap: var(--root40px);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.link-list_button {
  display: flex;
  align-items: center;
  padding: var(--root16px);
  border-radius: var(--root16px);
  background-color: rgb(var(--primaryTextLight));
}

.link-list_button:hover {
  background-color: rgba(var(--primaryPurple), 0.3);
}

.link-list_button_icon-container {
  width: var(--root40px);
  height: var(--root40px);
  background-color: rgb(var(--primaryPurple));
  border-radius: var(--root8px);
  margin-right: var(--root16px);
  flex-shrink: 0;
  overflow: hidden;
}

.link-list_button_icon-container img {
  width: 100%;
}

.link-list_button p {
  color: rgb(var(--primaryTextDark));
}

@media (max-width: 550px) {
  .link-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}



/* -------------------------------------------------------------------------------- */
/* --- elements --- */
/* -------------------------------------------------------------------------------- */

/* Uses the combined width of all grid columns */
.full-width {
  display: inline-grid;
  grid-column: 1/14;
  width: 100%;
}

img.full-width {
  min-height: calc(90vw * 0.4671);
}

/* Prevents an element (e.g. an image) from being dragged */
img,
.undraggable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.shadow {
  box-shadow: 0 var(--root24px) var(--root40px) rgba(var(--primaryTextDark), 0.2);
  -moz-box-shadow: 0 var(--root24px) var(--root40px) rgba(var(--primaryTextDark), 0.2);
  -webkit-box-shadow: 0 var(--root24px) var(--root40px) rgba(var(--primaryTextDark), 0.2);
}

/* Makes a previously square element round */
.round-image {
  border-radius: 50%;
}

.simple-quote * {
  font-family: "neue-kabel";
  color: rgb(var(--primaryPurple));
}

.simple-quote blockquote {
  font-size: var(--root32px);
  font-weight: 700;
  margin-bottom: var(--root8px);
}

/*
 The following wrapper class can be used to prevent page content from jumping around when images finish (lazy-) loading.
 In order to use the class, wrap the <img> element in question inside a <div> with the "img-wrapper" class and give it a unique id like so:

    <div id="pagename-imagename" class="img-wrapper">
    {{ imagename }}
      <img src="{{ url }}" alt="{{ alt }}" loading="lazy" />
    {{ /imagename }}
    </div>

  Afterwards, create a style for the id in the CSS file, specifying the "--aspect-ratio" variable, which needs to contain the aspect ratio of the image:

    #pagename-imagename {
      --aspect-ratio: calc(height / width);
    }

  That's it.

  Full example:
    HTML File for collaboration page:

      <div id="collaboration-intro_image" class="img-wrapper">
      {{ intro_image }}
        <img src="{{ url }}" alt="{{ alt }}" loading="lazy"/>
      {{ /intro_image }}
      </div>

    Corresponding CSS file:

      #collaboration-intro_image {
        --aspect-ratio: calc(890.503 / 811.281);
      }

*/

.img-wrapper {
  position: relative;
  height: 0;
  padding-top: calc(var(--aspect-ratio) * 100%);
}

.img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}



/* -------------------------------------------------------------------------------- */
/* --- button and links --- */
/* -------------------------------------------------------------------------------- */

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.cta-button {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: var(--root24px);
  text-align: center;

  border-radius: calc(var(--root24px) + 2 * var(--root16px)); /* font-size + 2 * padding */
  display: inline-block; /* otherwise padding not counted for offset */
  padding: var(--root16px) var(--root48px);
  margin-top: var(--root80px);

  background-color: rgb(var(--primaryRed));
  box-shadow: 0 var(--root8px) var(--root48px) rgba(var(--primaryRed), 0.2);
  -moz-box-shadow:  0 var(--root8px) var(--root48px) rgba(var(--primaryRed), 0.2);
  -webkit-box-shadow:  0 var(--root8px) var(--root48px) rgba(var(--primaryRed), 0.2);
  color: rgb(var(--primaryTextLight));

  transition: all 0.5s ease;
}

.cta-button:hover {
  transform: translateY(-0.5em);
}

.text-link {
  display: block;
  font-family: "neue-kabel";
  font-weight: 700;
  color: rgb(var(--primaryPurple));
  position: relative;
  padding-left: var(--root32px);
  margin-top: var(--root40px);
}

.text-link::before {
  content: "\2192";
  position: absolute;
  left: 0;
  color: rgb(var(--primaryPurple));
}



/* -------------------------------------------------------------------------------- */
/* --- replicator --- */
/* -------------------------------------------------------------------------------- */

.replicator {
  margin-top: var(--root40px);
}
.replicator > * + * {
  margin-top: var(--root80px);
}

.replicator > ul {
  list-style: disc;
  padding-left: 1em;
}

.replicator li::marker {
  color: rgb(var(--primaryRed));
}



/* -------------------------------------------------------------------------------- */
/* --- accordion --- */
/* -------------------------------------------------------------------------------- */

.accordion {
  background-color: rgb(var(--primaryTextLight));
  border-radius: var(--root16px);
  margin-top: var(--root40px);
}

.accordion input[type="checkbox"] {
  display: none;
}

.accordion li {
  font-size: var(--root20px);
}

.accordion_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  color: rgb(var(--primaryPurple));
  padding: var(--root32px);
}

.accordion_title h3 {
  font-size: var(--root24px);
}

.accordion_indicator {
  float: right;
  width: 10px;
  transition: transform 0.4s ease;
  color: rgb(var(--primaryPurple));
}

.accordion_content {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  overflow: auto;
  max-height: 0;
  opacity: 0;
  transition: max-height 1s ease, opacity 0.4s ease;
}

.accordion_content > *:first-child {
  margin-top: var(--root40px);
}

.accordion_content > * {
  margin-left: var(--root32px);
  margin-right: var(--root48px);
}

.accordion_content > *:last-child {
  margin-bottom: var(--root40px);
}

.accordion_content::-webkit-scrollbar {
  display: none;
}

.accordion input[type="checkbox"]:checked ~ .accordion_content {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 2s linear;
}

.accordion input[type="checkbox"]:checked ~ label .accordion_indicator {
  transform: rotate(45deg);
}
