
/* -------------------------------------------------------------------------------- */
/* --- general --- */
/* -------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;

  overflow-x: hidden;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;

  /* background-color: rgb(var(--primaryTextLight)); */
}



/* -------------------------------------------------------------------------------- */
/* --- button --- */
/* -------------------------------------------------------------------------------- */

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.cta-button {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: var(--root24px);
  border-radius: calc((1.25em + 2 * 0.66em) / 2); /* half of font-size + 2 * padding */
  display: inline-block; /* otherwise padding not counted for offset */
  padding: var(--root24px) var(--root48px);
  background-color: rgb(var(--primaryRed));
  box-shadow: 0 var(--root8px) var(--root48px) rgba(var(--primaryRed), 0.2);
  -moz-box-shadow:  0 var(--root8px) var(--root48px) rgba(var(--primaryRed), 0.2);
  -webkit-box-shadow:  0 var(--root8px) var(--root48px) rgba(var(--primaryRed), 0.2);
  color: rgb(var(--primaryTextLight));
  text-align: center;
  margin-top: var(--root80px);
  transition: all 0.5s ease;
}

.cta-button:hover {
  transform: translateY(-0.5em);
}



/* -------------------------------------------------------------------------------- */
/* --- grid --- */
/* -------------------------------------------------------------------------------- */

.main-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding: 0 5vw;
  margin: 0 auto;
  max-width: 1800px;
}

@media (min-width: 2000px) {
  .main-grid {
    padding: 0;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- header --- */
/* -------------------------------------------------------------------------------- */

.header {
  grid-column: 1/14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5em;
  z-index: 1000;
}

@media (max-width: 600px) {
  .header {
    padding-top: 5vw;
  }
}

.header_logo {
  display: flex;
  align-items: center;
  color: rgb(var(--primaryPurple));
}

.header_logo img {
  height: var(--root80px);
  width: auto;
  margin-right: var(--root24px);
  border-radius: var(--root16px);
  box-shadow: 0 0 var(--root8px) rgba(var(--primaryPurple), 0.15);
  -moz-box-shadow: 0 0 var(--root8px) rgba(var(--primaryPurple), 0.15);
  -webkit-box-shadow: 0 0 var(--root8px) rgba(var(--primaryPurple), 0.15);
}

.header_logo h1 {
  font-size: var(--root32px);
}



/* -------------------------------------------------------------------------------- */
/* --- navigation --- */
/* -------------------------------------------------------------------------------- */

.header_nav {
  position: relative;
}

.header_nav_main {
  display: flex;
}

.header_nav_main a {
  font-size: var(--root30px);
  font-weight: 700;
  color: rgb(var(--primaryPurple));
  margin-left: var(--root40px);
  padding-top: var(--root16px);
  padding-bottom: var(--root16px);
}

.nav_cta {
  border-radius: 50px;
  padding: var(--root16px) var(--root48px);
  background-color: rgb(var(--blueUltraLightViolett));
}

.header_scroll-to-top {
  width: var(--root80px);
  height: var(--root80px);
  position: fixed;
  z-index: 1000;
  right: 5vw;
  bottom: 20vh;

  background-image: url("../images/scroll-to-top.svg");
  background-repeat: no-repeat;
  background-size: var(--root80px);

  border-radius: var(--root40px);
  box-shadow: 0 var(--root8px) var(--root40px) rgba(var(--primaryRed), 0.15);
  -moz-box-shadow: 0 var(--root8px) var(--root40px) rgba(var(--primaryRed), 0.15);
  -webkit-box-shadow: 0 var(--root8px) var(--root40px) rgba(var(--primaryRed), 0.15);

  transition: all 0.5s ease;
  display: block;
}

.header_scroll-to-top:hover {
  transform: translateY(-0.5em);
}

.header_scroll-to-top.hidden {
  display: none;
}



/* -------------------------------------------------------------------------------- */
/* --- sections --- */
/* -------------------------------------------------------------------------------- */

section {
  grid-column: 1/14;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: relative;
}

.section--top {
  margin-top: var(--root96px);
}

.section--top-spacing {
  margin-top: 14.58em; /* 350px // based on 24px */
}

@media (max-width: 1000px) {
  .section--top-spacing {
    margin-top: 10em;
  }
}



/* ---------------------------------------- */
/* --- section full width --- */
/* ---------------------------------------- */


.section_full-width {
  grid-column: 1/14;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: relative;
}

.section_full-width .section-headline--addition {
  grid-column: 1/14;
}

.section_full-width .section-headline {
  grid-column: 2/14;
}


/* ---------------------------------------- */
/* --- section standard left with image --- */
/* ---------------------------------------- */

.section_standard_w_image-left_text {
  grid-column: 2/7;
}

@media (max-width: 1300px) {
  .section_standard_w_image-left_text {
    grid-column: 2/8;
  }
}

@media (max-width: 1000px) {
  .section_standard_w_image-left_text {
    grid-column: 3/12;
  }
}

@media (max-width: 700px) {
  .section_standard_w_image-left_text {
    grid-column: 2/13;
  }
}

@media (max-width: 350px) {
  .section_standard_w_image-left_text {
    grid-column: 1/14;
  }
}

.section_standard_w_image-left_image {
  width: 100%;
  grid-column: 8/13;
}

@media (max-width: 1300px) {
  .section_standard_w_image-left_image {
    grid-column: 9/13;
  }
}

@media (max-width: 1000px) {
  .section_standard_w_image-left_image {
    grid-area: 1/3/1/12;
    margin-bottom: 4.16em;
  }
}

@media (max-width: 550px) {
  .section_standard_w_image-left_image {
    grid-column: 2/13;
  }
}

/* ---------------------------------------- */
/* --- section standard with image right --- */
/* ---------------------------------------- */

.section_standard_w_image-right_text {
  grid-column: 8/13;
}

@media (max-width: 1300px) {
  .section_standard_w_image-right_text {
    grid-column: 7/13;
  }
}

@media (max-width: 1000px) {
  .section_standard_w_image-right_text {
    grid-area: 2/3/2/12;
  }
}

@media (max-width: 700px) {
  .section_standard_w_image-right_text {
    grid-column: 2/13;
  }
}

@media (max-width: 350px) {
  .section_standard_w_image-right_text {
    grid-column: 1/14;
  }
}

.section_standard_w_image-right_image {
  width: 100%;
  grid-area: 1/2/1/7;
}

@media (max-width: 1300px) {
  .section_standard_w_image-right_image {
    grid-column: 2/6;
  }
}

@media (max-width: 1000px) {
  .section_standard_w_image-right_image {
    grid-column: 3/12;
    margin-bottom: 4.16em;
  }
}

@media (max-width: 550px) {
  .section_standard_w_image-right_image {
    grid-column: 2/13;
  }
}

.section_standard_w_image-right_text_button {
  display: inline-flex;
  align-items: center;
}

.section_standard_w_image-right_text_button::before {
	width: var(--root24px);
	height: var(--root24px);
	content: "";
  background-image: url("../images/home_collaboration_button_icon.svg");
  background-size: var(--root24px) auto;
  background-repeat: no-repeat;
  margin-right: var(--root16px);
}



/* -------------------------------------------------------------------------------- */
/* --- Elements --- */
/* -------------------------------------------------------------------------------- */

.full-width {
  display: inline-grid;
  grid-column: 1/14;
  width: 100%;
}

/* Prevents an element (e.g. an image) from being dragged */
.undraggable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Makes a previously square element round, adding a thin border */
.round-image {
  border-radius: 50%;
}
