.spacer80px {
    margin-top: var(--root80px);
}
.spacer40px {
    margin-top: var(--root40px);
}

.mission-section .section-headline {
    margin-bottom: 0;
}

.mission_quote_text {
    color: rgb(var(--primaryPurple));
}
.mission_quote_author {
    color: rgb(var(--primaryPurple));
    margin-top: var(--root8px);
}

.mission_list {
    list-style: disc;
    padding-left: 1em;
}
.mission_list li::marker {
    color:rgb(var(--primaryRed));
}