
#our-supporters-header img {
    width: 80%;
    min-height: calc(100vw * 0.3234);
}

#our-supporters-header p {
    text-align: justify;
    font-size: 0.9em;
    margin-top: var(--root48px);
}

@media (min-width: 1001px) {
    #our-supporters-header div {
        grid-column: 7/12;
    }
}
