/* Div that contains a number of corporation profile entries */
#cooperations_profiles {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: var(--root80px);
}

@media (max-width: 400px) {
  #cooperations_profiles {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* A single profile entry */
.cooperations_profile {
  margin-top: var(--root80px);
  display: inline-block;
  text-align: center;
  background-color: rgb(var(--primaryTextLight));
  border-radius: 40px;
}

.cooperations_profile a {
  display: block;
  padding: 40px;
  background-color: rgb(var(--primaryTextLight));
  border-radius: 40px;
}

.cooperations_profile img {
  width: 100%;
}
