.statutes_sections {
  counter-reset: statutes_headlines_item;
  list-style-type: none;
}

.statutes_sections_headline::before {
  content: "§" counter(statutes_headlines_item) " ";
  counter-increment: statutes_headlines_item;
}

.statutes_sections_subsections {
  font-weight: normal;
  padding: revert;
}

.statutes_sections_subsections li:not(:first-child) {
  margin-top: var(--root24px);
}

.statutes_sections_subsections ul {
  padding: revert;
  list-style: disc;
}
