/* story overview */

.filter {
  grid-column: 1/14;
  margin-top: var(--root80px);
  margin-bottom: var(--root120px);
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;

    .dropdown {
      .dropdown-button {
        font-family: "neue-kabel";
        font-weight: 700;
        font-size: var(--root24px);
        padding: var(--root8px) var(--root32px) var(--root8px) var(--root16px);
        margin-right: var(--root16px);
        border: 3px solid var(--primary_red);
        border-radius: var(--root96px);
        color: var(--primary_red);
        position: relative;

        &::after {
          content: '';
          position: absolute;
          right: var(--root32px);
          transform: translate(calc(100% + 7px), 100%) rotate(45deg);
          height: var(--root8px);
          width: var(--root8px);
          border: var(--primary_red) solid;
          border-width: 0 2px 2px 0;
        }

        &:hover {
          background-color: var(--primary_red);
          color: var(--purple_ultraLight);

          &::after {
            border-color: white;
          }
        }
      }

      .dropdown-menu {
        position: absolute;
        font-family: "neue-kabel";
        font-weight: 700;
        color: var(--primary_red);
        background-color: white;
        border-radius: var(--root16px);
        padding: var(--root16px) var(--root8px);
        margin-top: var(--root24px);
        cursor: pointer;
        z-index: 2000;

        hr {
          border: calc(var(--root4px) / 2) solid var(--primary_red);
          margin: var(--root8px);
        }

        &.dropdown-menu--select {
          display: flex;
          flex-direction: column;

          input[type=radio] {
            display: none;
          }

          label {
            padding: var(--root8px);
            cursor: pointer;

            &:hover {
              background-color: var(--primary_red);
              color: white;
              border-radius: var(--root8px);
            }
          }
        }

        &.dropdown-menu--range {
          padding: var(--root16px);

          input[type=number] {
            appearance: none;
            font-family: "neue-kabel";
            font-weight: 700;
            font-size: var(--root24px);
            color: var(--primary_red);
            text-align: center;
            width: var(--root80px);
            height: var(--root48px);
            border: var(--root4px) solid var(--primary_red);
            border-radius: var(--root8px);

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              appearance: none;
            }
          }
        }
      }
    }
  }

  .favorites-mode {
    display: block;
    width: var(--root56px);
    height: var(--root56px);
    background-image: url("../images/favorites_mode_off.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    cursor: pointer;

    &.active {
      background-image: url("../images/favorites_mode_on.svg");
    }
  }
}

.story-card {
  border-radius: var(--root24px);
  background-color: white;
  transition: all 0.5s ease;

  &:hover {
    transform: translateY(-0.5em);
  }

  a {
    display: block;
    padding: var(--root32px);

    article {
      img {
        border-radius: var(--root16px);
        width: 100% !important;
        aspect-ratio: 1;
        object-fit: cover;
      }

      > div {
        display: flex;
        justify-content: space-between;
        margin-top: var(--root32px);
        margin-bottom: var(--root16px);

        span {
          font-family: "azo-sans-web";
          font-size: var(--root16px);
          font-weight: 400;
          padding: var(--root4px) var(--root16px);
          border-radius: calc(var(--root16px) + 2 * var(--root4px)); /* font size + 2 * padding */
          background-color: var(--purple_ultraLightViolett);
          color: var(--purple_darkViolett);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: var(--root16px);
          line-height: 1.6;
        }

        .favorite-toggle {
          input {
            display: none;

            &:checked + label {
              background-image: url("../images/heart_active.svg");
            }
          }

          label {
            display: block;
            width: var(--root32px);
            height: var(--root32px);
            background-image: url("../images/heart_inactive.svg");
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            cursor: pointer;

            &:hover {
              background-image: url("../images/heart_hover.svg");
            }
          }

        }
      }

      h2 {
        font-size: var(--root32px);
        color: var(--primary_dark);
        text-align: left;
      }
    }
  }
}

/* story detail */

.story {
  grid-column: 2/13;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  position: relative;

  .story_header {
    grid-column: 3/10;
    margin-bottom: var(--root80px);

    h1 {
    }
  }
}

.section_card-overview_card_favorite.active {
    content: url("/images/favorite_on.svg");
}
.section_card-overview_card_name {
    margin-top: var(--root16px);
    color: black;
}
