.filter {
  grid-column: 1/14;
  margin-top: var(--root80px);
  margin-bottom: var(--root120px);
  display: flex;

  .dropdown {
    .dropdown-button {
      font-family: "neue-kabel";
      font-weight: 700;
      font-size: var(--root24px);
      padding: var(--root8px) var(--root32px) var(--root8px) var(--root16px);
      margin-right: var(--root16px);
      border: var(--root4px) solid var(--primary_red);
      border-radius: var(--root96px);
      color: var(--primary_red);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: var(--root32px);
        transform: translate(calc(100% + 7px), 100%) rotate(45deg);
        height: var(--root8px);
        width: var(--root8px);
        border: var(--primary_red) solid;
        border-width: 0 2px 2px 0;
      }

      &:hover {
        background-color: var(--primary_red);
        color: var(--purple_ultraLight);

        &::after {
          border-color: var(--purple_ultraLight);
        }
      }
    }

    .dropdown-select {
      display: flex;
      flex-direction: column;
      position: absolute;
      font-family: "neue-kabel";
      font-weight: 700;
      color: var(--primary_red);
      background-color: white;
      border-radius: var(--root16px);
      padding: var(--root16px) var(--root8px);
      margin-top: var(--root24px);
      cursor: pointer;
      z-index: 2000;

      input {
        display: none;
      }

      label {
        padding: var(--root8px);
        cursor: pointer;

        &:hover {
          background-color: var(--primary_red);
          color: var(--purple_ultraLight);
          border-radius: var(--root8px);
        }
      }
    }
  }

}

/*.option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background:  #E5E5E5;
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;

}

.option:hover {
  background: #FF595C;
}

.select:focus label {
  position:relative;
  pointer-events:all;
}



label {
  display: none;
}

input:checked + label {
  order: 1;
  z-index:2;
  background: #FF595C;
  border-top:none;
  position:relative;
  color: white;
  display: block;
}

input:checked + label:after {
  content:'';
  width: 0;
 height: 0;
 border-left: 5px solid transparent;
 border-right: 5px solid transparent;
 border-top: 5px solid white;
  position:absolute;
  right:10px;
  top:calc(50% - 2.5px);
  pointer-events:none;
  z-index:3;
}*/







.card {
  border-radius: var(--root24px);
  background-color: white;
  transition: all 0.5s ease;

  &:hover {
    transform: translateY(-0.5em);
  }

  a {
    display: block;
    padding: var(--root32px);

    article {
      img {
        border-radius: var(--root16px);
        width: 100% !important;
        aspect-ratio: 1;
        object-fit: cover;
      }

      > div {
        display: flex;
        justify-content: space-between;
        margin-top: var(--root32px);
        margin-bottom: var(--root16px);

        span {
          font-family: "azo-sans-web";
          font-size: var(--root16px);
          font-weight: 400;
          padding: var(--root4px) var(--root16px);
          border-radius: calc(var(--root16px) + 2 * var(--root4px)); /* font size + 2 * padding */
          background-color: var(--purple_ultraLightViolett);
          color: var(--purple_darkViolett);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .favorite-icon {
          width: var(--root32px) !important;
          height: auto;
          background-image: url("../images/heart_inactive.svg");
          background-repeat: no-repeat;
          background-position: right;
          background-size: contain;

          &.active {
            background-image: url("../images/heart_active.svg");
          }

          &:hover {
            background-image: url("../images/heart_hover.svg");
          }
        }
      }

      h2 {
        font-size: var(--root32px);
        color: var(--primary_dark);
        text-align: left;
      }
    }
  }


}


.section_card-overview_card_type {

}
.section_card-overview_card_favorite.active {
    content: url("/images/favorite_on.svg");
}
.section_card-overview_card_name {
    margin-top: var(--root16px);
    color: black;
}
