#cooperations_profile {
  background-color: var(--purple_ultraLight);
  border-radius: var(--root40px);
}

#cooperations_profile a {
  display: block;
  padding: var(--root40px);
  background-color: var(--purple_ultraLight);
  border-radius: var(--root40px);
}

#sponsors_profile .alternating-tiles_image-container {
  background-color: var(--purple_ultraLight);
  aspect-ratio: 1;
  padding: var(--root40px);
}

#cooperations_profile img,
#sponsors_profile img {
  width: 100%;
}

@media (max-width: 650px) {
  #cooperations_profile,
  #sponsors_profile .alternating-tiles_image-container {
    margin: 0 10%;
    width: 80%;
  }
}
