#cooperations_profile {
  background-color: rgb(var(--primaryTextLight));
  border-radius: var(--root40px);
}

#cooperations_profile a {
  display: block;
  padding: var(--root40px);
  background-color: rgb(var(--primaryTextLight));
  border-radius: var(--root40px);
}

#cooperations_profile img {
  width: 100%;
}

#sponsors_profile .alternating-tiles_image-container {
  background-color: rgb(var(--primaryTextLight));
  aspect-ratio: 1;
  padding: var(--root40px);
}

#sponsors_profile .alternating-tiles_image-container img {
  width: 100%;
}
