#team_profile.inactive {
  opacity: 0.2;
}

#team_profile img {
  width: 100%;
  margin-bottom: var(--root24px);
}

@media (max-width: 650px) {
  #team_profile img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}
