.info {
  grid-column: 1/14;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: relative;

  .info_header {
    grid-column: 4/11;
    margin-bottom: var(--root80px);

    div span {
      font-size: var(--root16px);
      font-weight: 400;
      padding: var(--root4px) var(--root16px);
      border-radius: calc(var(--root16px) + 2 * var(--root4px));
      background-color: var(--purple_ultraLightViolett);
      color: var(--purple_darkViolett);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: var(--root16px);
      line-height: 1.6;
      margin-bottom: var(--root16px);
      display: inline-block;
    }

    h1 {
      margin-bottom: var(--root40px);
    }

    img {
      width: 100%;
    }
  }

  .info_body {
    grid-column: 1/14;
    display: grid;
    grid-template-columns: repeat(13, 1fr);

    .text {
      grid-column: 4/11;

      &.callout {
        padding: var(--root40px);
        border-radius: var(--root24px);
      }

      h2 {
        font-size: var(--root32px);
        margin-bottom: var(--root40px);
      }

      ul {
        li {
          list-style-type: disc;
          margin-left: 1.1rem;

          &:not(:last-child) {
            margin-bottom: var(--root24px);
          }

          &::marker {
            color: var(--primary_purple);
          }
        }
      }

      p + h2,
      p + ul,
      ul + h2,
      ul + p {
        margin-top: var(--root40px);
      }
    }

    .quote {
      grid-column: 5/11;
      font-family: "neue-kabel";
      font-weight: 700;
      color: var(--primary_purple);

      span {
        font-size: var(--root16px);
        margin-bottom: var(--root24px);
      }

      blockquote {
        font-size: var(--root32px);
      }
    }

    .images {
      grid-column: 2/13;
      display: flex;
      justify-content: space-between;

      div {
        &:not(:last-child) {
          margin-right: var(--root40px);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--root40px);
        }
      }
    }

    .table {
      grid-column: 2/13;
      width: 100%;
      overflow-x: scroll;

      th {
        text-align: left;
        padding-right: var(--root24px);
      }

      td {
        max-width: 220px;
        padding-right: var(--root24px);
      }
    }

    @media (max-width: 600px) {      
      th, td {
        min-width: 200px;
      }
    }

    .link-list,
    .accordion-list {
      grid-column: 4/11;
    }

    .images + *,
    * + .images,
    .link-list + *,
    * + .link-list,
    .accordion-list + *,
    * + .accordion-list {
      margin-top: var(--root80px);
    }

    .images + .images,
    .text + .text,
    .text + .quote,
    .text + .table,
    .quote + .quote,
    .quote + .text,
    .quote + .table,
    .table + .table,
    .table + .text,
    .table + .quote {
      margin-top: var(--root40px);
    }
  }
}

@media (max-width: 1400px) {
  .info {
    .info_header {
      grid-column: 3/12;
    }
    .info_body {
      .text,
      .link-list,
      .accordion-list {
        grid-column: 3/12;
      }
      .quote {
        grid-column: 4/12;
      }
    }
  }
}

@media (max-width: 800px) {
  .info {
    .info_header {
      grid-column: 2/13;
    }
    .info_body {
      .text,
      .quote,
      .link-list,
      .accordion-list {
        grid-column: 2/13;
      }
    }
  }
}

@media (max-width: 450px) {
  .info {
    .info_header {
      grid-column: 1/14;
    }
    .info_body {
      .text,
      .quote,
      .images,
      .table,
      .link-list,
      .accordion-list {
        grid-column: 1/14;
      }
    }
  }
}
