/* -------------------------------------------------------------------------------- */
/* --- footer --- */
/* -------------------------------------------------------------------------------- */

.footer {
  width: 90vw;
  z-index: 999;
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  margin: 14.58rem 5vw var(--root40px) 5vw; /* 350px // based on 24px */
}



/* -------------------------------------------------------------------------------- */
/* --- contact --- */
/* -------------------------------------------------------------------------------- */

.footer_contact {
  grid-column: 6/13;
  display: block;
  position: revert;
  z-index: 1;
}

.footer_contact p {
  font-family: "neue-kabel";
  font-size: var(--root32px);
  font-weight: 700;
  line-height: 1.2;
}

.footer_contact a {
  font-size: var(--root32px);
  color: rgb(var(--primaryRed));
}

.footer_contact img {
  position: absolute;
  bottom: 10rem;
  left: 10vw;
  width: 40%;
  height: auto;
  z-index: -1;
}

@media (max-width: 1400px) {
  .footer_contact img {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .footer_contact img {
    bottom: 8rem;
    left: 5vw;
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .footer_contact img {
    left: -15vw;
    width: 80%;
  }
}

@media (max-width: 750px) {
  .footer_contact {
    grid-column: 2/13;
  }

  .footer_contact img {
    left: 25vw;
  }
}

@media (max-width: 650px) {
  .footer_contact {
    grid-column: 2/13;
  }

  .footer_contact img {
    display: none;
  }
}

@media (max-width: 450px) {
  .footer_contact {
    grid-column: 1/14;
  }
}



/* -------------------------------------------------------------------------------- */
/* --- navigation --- */
/* -------------------------------------------------------------------------------- */

.footer_nav {
  grid-column: 1/14;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer_nav * {
  font-family: "neue-kabel";
  font-weight: 700;
  color: rgb(var(--primaryPurple));
}

.footer_nav span {
  font-weight: 500;
}

.footer_nav_list {
  display: flex;
  margin-left: var(--root32px);
}

.footer_nav_list li {
  padding: var(--root8px) var(--root16px);
  border-radius: calc(var(--root24px) + 2 * var(--root16px)); /* fontsize + 2 * padding */
  margin-left: var(--root32px);
}

.footer_nav_list li:hover {
  background-color: rgb(var(--blueUltraLightViolett));
}

@media (max-width: 800px) {
  .footer_nav_list {
    display: none;
  }
}
