/* ---------------------------------------------------------------------- */
/* --- tiles --- */
/* ---------------------------------------------------------------------- */

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--root80px);
  text-align: center;
  margin-top: var(--root40px);

  @media (max-width: 2500px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ---------------------------------------------------------------------- */
/* --- alternating tiles --- */
/* ---------------------------------------------------------------------- */

.alternating-tiles {
  grid-column: 1/14;
  display: grid;
  grid: inherit;
  align-items: center;
  margin-top: var(--root40px);

  > div {
    grid-column: 1/14;
    display: grid;
    grid: inherit;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: var(--root80px);
    }

    &:nth-child(odd) {
      .image-container {
        grid-area: 1/2/1/6;
      }

      .text-container {
        grid-area: 1/7/1/13;
      }
    }

    &:nth-child(even) {
      .image-container {
        grid-area: 1/9/1/13;
      }

      .text-container {
        grid-area: 1/2/1/8;
      }
    }

    .image-container {
      width: 100%;
      height: auto;
      border-radius: var(--root40px);
      flex-shrink: 0;
      overflow: hidden;

      @media (max-width: 1000px) {
        grid-area: 1/2/1/13 !important;
      }

      @media (max-width: 450px) {
        grid-area: 1/1/1/14 !important;
      }

      img {
        width: 100%;
      }
    }

    .text-container {
      @media (max-width: 1000px) {
        grid-area: 2/2/2/13 !important;
        margin-top: var(--root40px);
      }

      @media (max-width: 450px) {
        grid-area: 2/1/2/14 !important;
        margin-top: var(--root40px);
      }

      h3 {
        margin-bottom: var(--root40px);
      }

      a {
        display: block;
        margin-top: var(--root40px);
      }

      ul li {
        list-style-type: disc;
        margin-left: 1.1rem;
      }
    }
  }
}

/* ---------------------------------------------------------------------- */
/* --- accordion --- */
/* ---------------------------------------------------------------------- */

.accordion {
  background-color: var(--purple_ultraLight);
  border-radius: var(--root16px);

  input[type="checkbox"] {
    display: none;

    &:checked ~ .accordion_content {
      max-height: 1500px;
      opacity: 1;
      transition: max-height 2s linear;
    }

    &:checked ~ label .accordion_indicator {
      transform: rotate(45deg);
    }
  }

  label.accordion_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    color: var(--primary_purple);
    padding: var(--root32px);

    h3 {
      font-size: var(--root24px);
      padding-right: var(--root16px);
    }

    .accordion_indicator {
      float: right;
      width: 10px;
      transition: transform 0.4s ease;
      color: var(--primary_purple);
    }
  }

  .accordion_content {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    overflow: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease, opacity 0.4s ease;

    &::-webkit-scrollbar {
      display: none;
    }

    > *:first-child {
      margin-top: var(--root40px);
    }

    > * {
      margin-left: var(--root32px);
      margin-right: var(--root48px);
      margin-bottom: var(--root40px);
    }

    p {
      max-width: 800px;
    }

    a {
      display: block;
    }

    li {
      font-size: var(--root20px);
    }
  }
}

.accordion + .accordion {
  margin-top: var(--root40px);
}

/* ---------------------------------------------------------------------- */
/* --- link list --- */
/* -------------------------------------------------------------------------------- */

.link-list {
  .link-list_button {
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: var(--root24px);
    border-radius: var(--root16px);
    background-color: var(--purple_ultraLight);

    &:hover {
      background-color: var(--purple_ultraLightViolett);
    }

    .link-list_button_icon-container {
      width: var(--root40px);
      height: var(--root40px);
      border-radius: var(--root8px);
      margin-right: var(--root16px);
      flex-shrink: 0;
      overflow: hidden;

      &.colored {
        background-color: var(--primary_purple);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      color: var(--primary_dark);
    }
  }

  .link-list_button + .link-list_button {
    margin-top: var(--root40px);
  }
}
