<footer class="main-footer main-grid section--big-top-spacing">
  <section class="footer_social-media">
    {{ social-media }}
      <p>
        {{ social-media_textarea }}

        {{ social-media_profiles }}
          {{ if last }}
            <a href="{{ social-media_profile_url }}">{{ social-media_profile_name }}</a>.
          {{ elseif social-media_profiles|count > 2 && index !== social-media_profiles|count|subtract:2 }}
            <a href="{{ social-media_profile_url }}">{{ social-media_profile_name }}</a>,
          {{ else }}
            <a href="{{ social-media_profile_url }}">{{ social-media_profile_name }}</a> und
          {{ /if }}
        {{ /social-media_profiles }}

        {{ mail_textarea }}
        <a href="mailto:{{ mail_address }}?subject={{ mail_subject }}&body={{ mail_body }}">Mail</a>.
      </p>
    {{ /social-media }}
  </section>

  <nav id="footer_nav" class="footer_nav">
    <p>&copy; Pathly e.V. 2021</p>
    <ul class="footer_nav_list">
      {{ nav:collection:footer-pages include_home="true" }}
        <li><a class="link {{ is_current ?= 'active' }}" href="{{ url }}">{{ title }}</a></li>
      {{ /nav:collection:footer-pages }}
    </ul>
  </nav>
</footer>
