<footer class="footer">
  {{ if current_template !== "errors.404" && current_template !== "confirmation" }}
    
  {{ endif }}

  <nav id="footer_nav" class="footer_nav section--top-spacing">
    <a href="/">&copy; 2021 <span>{{ meta-data }}{{ meta_copyright }}{{ /meta-data }}</span></a>
    <ul class="footer_nav_list">
      {{ nav:collection:footer-pages include_home="true" }}
        <li><a class="{{ is_current ?= 'active' }}" href="{{ url }}">{{ title }}</a></li>
      {{ /nav:collection:footer-pages }}
    </ul>
  </nav>
</footer>
