{{ if cta_toggle }}
  {{ cta }}
    <section class="{{ cta_image_position == 'left' ?= 'section_standard-w-image-left' }}{{ cta_image_position == 'right' ?= 'section_standard-w-image-right' }} section--top-spacing">

      {{ cta_image }}
        <img src="{{ url }}" alt="{{ alt }}" loading="lazy">
      {{ /cta_image }}

      <div>
        {{ if cta_headline_addition }}<h2 class="section-headline--addition">{{ cta_headline_addition }}</h2>{{ /if }}
        <h2 class="section-headline">{{ cta_headline }}</h2>
        {{ if cta_textarea }}<p>{{ cta_textarea }}</p>{{ /if }}

        {{ if cta_button_type === 'mail' }}
          <a class="cta-button" href="mailto:{{ cta_mail_address }}?subject={{ cta_mail_subject }}&body={{ cta_mail_body }}">
            {{ cta_button_icon }}
              <img src="{{ url }}" alt="{{ alt }}" loading="lazy">
            {{ /cta_button_icon }}
            {{ cta_mail_address }}
          </a>
        {{ elseif cta_button_type === 'subpage' }}
          {{ cta_subpage }}
            <a class="cta-button" href="{{ url }}">
              {{ cta_button_icon }}
                <img src="{{ url }}" alt="{{ alt }}" loading="lazy">
              {{ /cta_button_icon }}
              {{ title }}
            </a>
          {{ /cta_subpage }}
        {{ /if }}
      </div>
    </section>
  {{ /cta }}
{{ /if }}
