<section class="{{ intro_image_position == 'left' ?= 'section_text-w-image-left' }}{{ intro_image_position == 'right' ?= 'section_text-w-image-right' }}">
  {{ intro_image }}
    <img src="{{ url }}" alt="{{ alt }}" loading="lazy"/>
  {{ /intro_image }}

  <div>
    {{ if intro_headline_addition }}
      <h2 class="section-headline--addition">{{ intro_headline_addition }}</h2>
    {{ /if }}
    <h2 id="{{ intro_headline }}" class="section-headline">{{ intro_headline }}</h2>
    <p>{{ intro_textarea }}</p>
  </div>
</section>

<section class="section_pattern section--big-top-spacing">
  {{ if support_headline_addition }}
    <h2 class="section-headline--addition">{{ support_headline_addition }}</h2>
  {{ /if }}
  <h2 class="section-headline">{{ support_headline }}</h2>

  <div>
    <ul class="alternating-tiles">
      {{ support_needs }}
        <li>
          {{ support_needs_image }}
            <img src="{{ url }}" alt="{{ alt }}" loading="lazy"/>
          {{ /support_needs_image }}

          <div>
            <h3>{{ support_needs_headline }}</h3>
            <ul>
              {{ support_needs_description }}
                <li>
                  <p>{{ value }}</p>
                </li>
              {{ /support_needs_description }}
            </ul>
          </div>
        </li>
      {{ /support_needs }}
    </ul>
  </div>
</section>
