<section class="{{ intro_image_position == 'left' ?= 'section_text-w-image-left' }}{{ intro_image_position == 'right' ?= 'section_text-w-image-right' }}">
  {{ intro_image }}
    <img src="{{ url }}" alt="{{ alt }}" loading="lazy"/>
  {{ /intro_image }}

  <div>
    {{ if intro_headline_addition }}
      <h2 class="section-headline--addition">{{ intro_headline_addition }}</h2>
    {{ /if }}
    <h2 id="{{ intro_headline }}" class="section-headline">{{ intro_headline }}</h2>
    <p>{{ intro_textarea }}</p>
  </div>
</section>

<section class="section_pattern section--big-top-spacing">
  <h2 class="section-headline--addition">{{ options_headline_addition }}</h2>
  <h2 id="{{ donation-options_headline }}" class="section-headline">{{ donation-options_headline }}</h2>
  <div class="link-list">
    {{ donation-options_buttons }}
      <a class="link-list_button" href="{{ donation-options_button_url }}">
        <div class="link-list_button_icon-container">
          {{ donation-options_buttons_icon }}
            <img src="{{ url }}" alt="{{ alt }}">
          {{ /donation-options_buttons_icon }}
        </div>
        <p>{{ donation-options_button_headline }}</p>
      </a>
    {{ /donation-options_buttons }}
  </div>

  <div class="bank-transfer">
    <h2 id="{{ donation-options_bank-transfer_headline }}">{{ donation-options_bank-transfer_headline }}</h2>
    <p>
      <b>{{ donation-options_bank-transfer_name }}</b>
      <br>
      <b>IBAN</b> {{ donation-options_bank-transfer_iban }}
      <br>
      <b>BIC</b> {{ donation-options_bank-transfer_bic }}
    </p>
    {{ donation-options_bank-transfer_textarea }}
  </div>

  <div class="accordion">
    <input type="checkbox" id="accordion_button-{{ donation-options_contribution-receipt_headline }}"/>
    <label for="accordion_button-{{ donation-options_contribution-receipt_headline }}" class="accordion_title">
      <p>
        {{ donation-options_contribution-receipt_headline }}
        <span class="accordion_indicator no-select">+</span>
      </p>
    </label>

    <div class="accordion_content">
      <p>{{ donation-options_contribution-receipt_textarea }}</p>
    </div>
  </div>
</section>

<section class="section_pattern section--big-top-spacing">
  <h2 class="section-headline--addition">{{ more-options_headline_addition }}</h2>
  <h2 id="{{ more-options_headline }}" class="section-headline">{{ more-options_headline }}</h2>
  {{ more-options_options }}
    <div class="accordion">
      <input type="checkbox" id="accordion_button-{{ more-options_option_headline }}"/>
      <label for="accordion_button-{{ more-options_option_headline }}" class="accordion_title">
        <p>
          {{ more-options_option_headline }}
          <span class="accordion_indicator no-select">+</span>
        </p>
      </label>

      <div class="accordion_content">
        <p>{{ more-options_option_textarea }}</p>
      </div>
    </div>
  {{ /more-options_options }}

</section>
