<!-- Section Header -->
<section class="home-header">
  <img class="home-header_image" src="/images/home_header.svg">

  <div class="home-header_text">
    <h1 id="{{ intro_headline }}">{{ intro_headline }}</h1>

    <svg class="home-header_text_svg" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 200 50" preserveAspectRatio="xMinYMin meet">
      <path class="home-header_text_svg_mouse" d="M25,21c0,5-4,9-9,9l0,0c-4.9,0-9-4-9-9V11c0-4.9,4.1-9,9-9l0,0c5,0,9,4.1,9,9V21z"/>
      <line class="home-header_text_svg_scroller" x1="16" y1="8" x2="16" y2="14">
        <animate attributeName="y1" values="8;8;8;14;14" dur="1.5s" repeatCount="indefinite" />
        <animate attributeName="y2" values="8;8;14;14;14" dur="1.5s" repeatCount="indefinite" />
        <animate attributeName="opacity" values="0;1;1;0" dur="1.5s" repeatCount="indefinite" />
      <line/>
    </svg>

    <div class="home-header_text_scroller">
      <div class="home-header_text_scroller_animation"></div>
    </div>
  </div>
</section>

<section class="{{ about-project_image_position == 'left' ?= 'section_text-w-image-left' }}{{ about-project_image_position == 'right' ?= 'section_text-w-image-right' }} section--small-top-spacing">
  {{ about-project_image }}
    <img src="{{ url }}" alt="{{ alt }}" loading="lazy"/>
  {{ /about-project_image }}

  <div>
    {{ if about-project_headline_addition }}
      <h2 class="section-headline--addition">{{ about-project_headline_addition }}</h2>
    {{ /if }}
    <h2 id="{{ about-project_headline }}" class="section-headline">{{ about-project_headline }}</h2>
    <p>{{ about-project_textarea }}</p>
  </div>
</section>

<section class="{{ about-founders_image_position == 'left' ?= 'section_text-w-image-left' }}{{ about-founders_image_position == 'right' ?= 'section_text-w-image-right' }} section--small-top-spacing">
  {{ about-founders_image }}
    <img src="{{ url }}" alt="{{ alt }}" loading="lazy"/>
  {{ /about-founders_image }}

  <div>
    {{ if about-founders_headline_addition }}
      <h2 class="section-headline--addition">{{ about-founders_headline_addition }}</h2>
    {{ /if }}
    <h2 id="{{ about-founders_headline }}" class="section-headline">{{ about-founders_headline }}</h2>
    <p>{{ about-founders_textarea }}</p>
  </div>
</section>

<section class="section_pattern section--small-top-spacing">
  {{ if all-supporters_headline_addition }}
    <h2 class="section-headline--addition">{{ all-supporters_headline_addition }}</h2>
  {{ /if }}
  <h2 id="{{ all-supporters_headline }}" class="section-headline">{{ all-supporters_headline }}</h2>

  <div class="all-supporters_slick-slider">
    <ul class="all-supporters_slick-slider_list">
      {{ assets container="assets" folder="supporter" sort="rating" }}
        <li class="all-supporters_slick-slider_list_item">
          <img class="round-image shadow" src="{{ url }}" alt="{{ alt }}" loading="lazy">
        </li>
      {{ /assets }}
    </ul>
  </div>
</section>
