<!-- Section Header -->
<section class="section_home-header">
  <img class="section_home-header_image" src="/images/home_header.svg">

  <div class="section_home-header_text">
    <h2>{{ intro_headline }}</h2>

    <svg class="section_home-header_text_svg" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 200 50" preserveAspectRatio="xMinYMin meet">
      <path class="section_home-header_text_svg_mouse" d="M25,21c0,5-4,9-9,9l0,0c-4.9,0-9-4-9-9V11c0-4.9,4.1-9,9-9l0,0c5,0,9,4.1,9,9V21z"/>
      <line class="section_home-header_text_svg_scroller" x1="16" y1="8" x2="16" y2="14">
        <animate attributeName="y1" values="8;8;8;14;14" dur="1.5s" repeatCount="indefinite" />
        <animate attributeName="y2" values="8;8;14;14;14" dur="1.5s" repeatCount="indefinite" />
        <animate attributeName="opacity" values="0;1;1;0" dur="1.5s" repeatCount="indefinite" />
      <line/>
    </svg>

    <div class="section_home-header_text_scroller">
      <div class="section_home-header_text_scroller_animation"></div>
    </div>
  </div>
</section>

<!-- About Us -->
<section class="section_standard-w-image-left section--top-spacing" id="">
  <div class="section_standard-w-image-left_text">
    <h2 class="section-headline-addition">{{ our-team_headline_addition }}</h2>
    <h2 class="section-headline">{{ our-team_headline }}</h2>
    <p>{{ our-team_textarea }}</p>
  </div>

  {{ our-team_image }}
  <img class="section_standard-w-image-left_image" src="{{ url }}" alt="{{ alt }}" loading="lazy">
  {{ /our-team_image }}
</section>
