<section class="{{ intro_image_position == 'left' ?= 'section_text-w-image-left' }}{{ intro_image_position == 'right' ?= 'section_text-w-image-right' }}">
  {{ intro_image }}
    <img src="{{ url }}" alt="{{ alt }}"/>
  {{ /intro_image }}

  <div>
    {{ if intro_headline_addition }}
      <h2 class="section-headline--addition">{{ intro_headline_addition }}</h2>
    {{ /if }}
    <h2 id="nonprofit_intro" class="section-headline">{{ intro_headline }}</h2>
    <p>{{ intro_textarea }}</p>
  </div>
</section>

<section class="section_text section--top-spacing">
  {{ if preamble_headline_addition }}
    <h2 class="section-headline--addition">{{ preamble_headline_addition }}</h2>
  {{ /if }}
  <h2 id="nonprofit_preamble" class="section-headline">{{ preamble_headline }}</h2>
  <div>
    <p>{{ preamble_textarea }}</p>
  </div>
</section>

<section class="section_text section--top-spacing">
  {{ if statutes_headline_addition }}
    <h2 class="section-headline--addition">{{ statutes_headline_addition }}</h2>
  {{ /if }}
  <h2 id="nonprofit_statutes" class="section-headline">{{ statutes_headline }}</h2>

  <div>
    <ol class="statutes_sections">
      {{ statutes_sections }}
        <li>
          <div class="accordion">
            <input type="checkbox" id="accordion_button-{{ statutes_section_headline }}"/>
            <label for="accordion_button-{{ statutes_section_headline }}" class="accordion_title">
              <h3>{{ statutes_section_headline }}</h3>
              <span class="accordion_indicator no-select">+</span>
            </label>

            <div class="accordion_content">
              <ol class="statutes_section_subsections">
                {{ statutes_section_subsections }}
                  <li>
                    <p>{{ statutes_section_subsection_textarea }}<p>
                    <ul>
                      {{ statutes_section_subsection_list }}
                        <li>
                          <p>{{ value }}</p>
                        </li>
                      {{ /statutes_section_subsection_list }}
                    </ul>
                  </li>
                {{ /statutes_section_subsections }}
              </ol>
            </div>
          </div>
        </li>
      {{ /statutes_sections }}
    </ol>
  </div>
</section>
