<section class="{{ intro_image_position == 'left' ?= 'section_standard-w-image-left' }}{{ intro_image_position == 'right' ?= 'section_standard-w-image-right' }}">
  {{ intro_image }}
    <img src="{{ url }}" alt="{{ alt }}" loading="lazy">
  {{ /intro_image }}

  <div>
    <h2 class="section-headline">{{ intro_headline }}</h2>
    <p>{{ intro_textarea }}</p>
  </div>
</section>

<section class="section_standard section--top-spacing">
  <h2 class="section-headline--addition">{{ cooperations_headline_addition }}</h2>
  <h2 class="section-headline">{{ cooperations_headline }}</h2>
  <div>
    <ul id="cooperations_profiles">
      {{  cooperations_profiles }}
        <li class="cooperations_profile">
          <a href="{{ cooperations_profile_url }}">

              {{ cooperations_profile_image }}
                <img class="undraggable" src="{{ url }}" alt="{{ alt }}" loading="lazy">
              {{ /cooperations_profile_image }}
          </a>
        </li>
      {{ /cooperations_profiles }}
    </ul>
  </div>
</section>
