<section id="our-supporters-header" class="section_standard-w-image-left section--top">
  {{ intro_image }}
    <img class="full-width undraggable" src="{{ url }}" alt="{{ alt }}" loading="lazy">
  {{ /intro_image }}
  <div>
    <h3>
      <!-- TODO: Replace text with correct variable -->
      Wir schicken all unseren tollen Unterst&uuml;tzer:innen und Spender:innen ein gro&szlig;es, herzliches Dankesch&ouml;n.
    </h3>
    <p>
      <!-- TODO: Replace text with correct variable -->
      Als gemeinn&uuml;tziger Verein, sind wir auf Unterst&uuml;tzer:innen und Spenden angewiesen.
      Durch Eure Unterst&uuml;tzung k&ouml;nnen wir unsere Mission<!-- Hier fehlt ein Komma -->
      Krebspatient:innen und ihre Angeh&ouml;rigen auf ihrem Weg durch die Erkrankung zu begleiten<!-- Hier fehlt ein Komma -->
      weiter verfolgen.
    </p>
  </div>
</section>

<section class="section_standard section--top-spacing">
  <h2 class="section-headline--addition">{{ cooperations_headline_addition }}</h2>
  <h2 class="section-headline medium-margin-below">{{ cooperations_headline }}</h2>
  <div>
    <ul id="cooperations_profiles">
      {{  cooperations_profiles }}
        <a class="cooperations_profile" title="{{cooperations_profile_name}}" href="{{cooperations_profile_url}}">
          <li>
            {{cooperations_profile_image}}
              <img class="undraggable" src="{{ url }}" alt="{{ alt }}" loading="lazy">
            {{/cooperations_profile_image}}
          </li>
        </a>
      {{ /cooperations_profiles }}
    </ul>
  </div>
</section> 
