<section>
    {{ intro_image }}
    <img class="full-width" src="{{ url }}" alt="{{ alt }}" loading="lazy" />
    {{ /intro_image }}
</section>

{{ mission_section }}
  <section class="section_text section--small-top-spacing">
      {{ if headline_addition }}
        <h2 class="section-headline--addition">{{ headline_addition }}</h2>
      {{ /if }}
      <h2 id="{{ headline }}" class="section-headline">{{ headline }}</h2>

      <div class="replicator">
          {{ replicator }}
            {{ if type == "quote" }}
              <div class="simple-quote">
                <blockquote>{{ quote_textarea }}</blockquote>
                <p>{{ quote_author }}</p>
              </div>
            {{ elseif type == "image" }}
              <img class="full-width" src="{{ image }}" alt="{{ caption }}">
            {{ elseif type == "textarea" }}
              <p>{{ textarea }}</p>
            {{ elseif type == "list" }}
              <ul>
                {{ list }}
                  <li>
                    <p>{{ value }}</p>
                  </li>
                {{ /list }}
              </ul>
            {{ /if }}
          {{ /replicator }}
      </div>
  </section>
{{ /mission_section }}
