{{ partial:text-with-image
  id="supporters_intro"
  :image_position="intro_image_position"
  :image="intro_image"
  :headline_addition="intro_headline_addition"
  :headline="intro_headline"
  :textarea="intro_textarea"
}}

<section id="supporters_cooperations" class="section--top-spacing">
  {{ if cooperations_headline_addition }}
    <h2 class="section-headline--addition">{{ cooperations_headline_addition }}</h2>
  {{ /if }}
  <h2 class="section-headline">{{ cooperations_headline }}</h2>

  <div class="tiles">
    {{ cooperations_profiles }}
      <div class="cooperations_profile">
        <a target="_blank" href="{{ cooperations_profile_url }}">
          {{ cooperations_profile_image }}
            <img src="{{ glide:url width='700' height='700' format='webp' }}" alt="{{ alt }}"/>
          {{ /cooperations_profile_image }}
        </a>
      </div>
    {{ /cooperations_profiles }}
  </div>
</section>

<section id="supporters_sponsors" class="section--top-spacing">
  {{ if sponsors_headline_addition }}
    <h2 class="section-headline--addition">{{ sponsors_headline_addition }}</h2>
  {{ /if }}
  <h2 class="section-headline">{{ sponsors_headline }}</h2>

  <div class="alternating-tiles">
      {{ sponsors_profiles }}
        <div class="sponsors_profile">
          <div class="image-container">
            {{ sponsors_profile_image }}
              <img src="{{ glide:url width='700' height='700' format='webp' }}" alt="{{ alt }}"/>
            {{ /sponsors_profile_image }}
          </div>

          <div class="text-container">
            <h3>{{ sponsors_profile_name }}</h3>
            <p>{{ sponsors_profile_description }}</p>
            <a class="arrow-link" href="{{ sponsors_profile_url }}" target="_blank">Website</a>
          </div>
        </div>
      {{ /sponsors_profiles }}
  </div>
</section>
