<section id="supporters_intro" {{ if intro_image_position == 'left' }} class="section_text-w-image-left" {{ elseif intro_image_position == 'right' }} class="section_text-w-image-right" {{ endif }}>
  {{ intro_image }}
    <img src="{{ url }}" alt="{{ alt }}"/>
  {{ /intro_image }}

  <div>
    {{ if intro_headline_addition }}
      <h2 class="section-headline--addition">{{ intro_headline_addition }}</h2>
    {{ /if }}
    <h2 class="section-headline">{{ intro_headline }}</h2>
    <p>{{ intro_textarea }}</p>
  </div>
</section>

<section id="supporters_cooperations" class="section_pattern section--top-spacing">
  {{ if cooperations_headline_addition }}
    <h2 class="section-headline--addition">{{ cooperations_headline_addition }}</h2>
  {{ /if }}
  <h2 class="section-headline">{{ cooperations_headline }}</h2>

  <div id="cooperations_profile" class="tiles">
    {{ cooperations_profiles }}
      <div>
        <a target="_blank" href="{{ cooperations_profile_url }}">
          {{ cooperations_profile_image }}
            <img src="{{ url }}" alt="{{ alt }}"/>
          {{ /cooperations_profile_image }}
        </a>
      </div>
    {{ /cooperations_profiles }}
  </div>
</section>

<section id="supporters_sponsors" class="section_alternating-pattern section--top-spacing">
  {{ if sponsors_headline_addition }}
    <h2 class="section-headline--addition">{{ sponsors_headline_addition }}</h2>
  {{ /if }}
  <h2 class="section-headline">{{ sponsors_headline }}</h2>

  <div class="alternating-tiles">
      {{ sponsors_profiles }}
        <div id="sponsors_profile">
          <div class="alternating-tiles_image-container">
            {{ sponsors_profile_image }}
              <img src="{{ url }}" alt="{{ alt }}"/>
            {{ /sponsors_profile_image }}
          </div>

          <div>
            <h3>{{ sponsors_profile_name }}</h3>
            <p>{{ sponsors_profile_description }}</p>
            <a class="arrow-link" href="{{ sponsors_profile_url }}" target="_blank">Website</a>
          </div>
        </div>
      {{ /sponsors_profiles }}
  </div>
</section>
