<section class="section_image-full-width">
  <picture>
    {{ intro_image--big }}
      <source srcset="{{ url }}" alt="{{ alt }}" media="(min-width: 700px)"/>
    {{ /intro_image--big }}

    {{ intro_image--small }}
      <img src="{{ url }}" alt="{{ alt }}"/>
    {{ /intro_image--small }}
  </picture>
</section>

<section id="team_profiles" class="section--top-spacing">
  {{ if team_headline_addition }}
    <h2 class="section-headline--addition">{{ team_headline_addition }}</h2>
  {{ /if }}
  <h2 class="section-headline">{{ team_headline }}</h2>

  <div class="tiles">
    {{ team_profiles }}
      <div class="team_profile {{ !team_profile_is_active ?= 'inactive' }}">
        {{ team_profile_image }}
          <img class="round-image shadow" src="{{ url }}" alt="{{ alt }}"/>
        {{ /team_profile_image }}

        <h3>{{ team_profile_name }}</h3>

        <ul>
          {{ team_profile_responsibilities }}
            <li><p>{{ label }}</p></li>
          {{ /team_profile_responsibilities }}
        </ul>

        {{ if team_profile_mail }}
          <a class="mail-link" href="mailto:{{ team_profile_mail }}">{{ team_profile_mail }}</a>
        {{ endif }}
      </div>
      {{ /team_profiles }}
  </div>
</section>
