<h1 class="">{{ title }}</h1>

<div class="filter">
  <select class="filter_cancer-type">
    <option value="" selected disabled hidden>Krebstyp</option>
    <option value="cType1">cType1</option>
    <option value="cType2">cType2</option>
    <option value="cType3">cType3</option>
  </select>

  <select class="filter_age">
    <option selected disabled hidden>Alter</option>
    <option>unter 18</option>
    <option>18 - 30</option>
    <option>30 - 40</option>
    <option>40 - 50</option>
    <option>über 50</option>
  </select>

  <select class="filter_therapy-form">
    <option value="" selected disabled hidden>Therapieform</option>
    <option value="tForm1">tForm1</option>
    <option value="tForm2">tForm2</option>
    <option value="tForm3">tForm3</option>
  </select>
</div>

<section class="section_pattern section--top-spacing">
  <div>
    <ul class="tiles">
      {{ collection:stories }}
        <li class="card shadow">
          <a href="{{ url }}">
            <img src="{{ image }}" alt="{{ alt }}">

            <div>
              <span>{{ type:label }}</span>
              <img src="/images/favorite_off.svg" alt="favorite_off">
            </div>

            <h2>{{ name }}, {{ age }}</h2>
          </a>
        </li>
      {{ /collection:stories }}
    </ul>
  </div>
</section>
