<main class="main-grid">
  <h1 class="">{{ title }}</h1>

  <section class="section_card-overview">
    {{ collection:stories paginate="1" }}
    <a class="section_card-overview_card" href="{{ url }}">
      <img class="section_card-overview_card_image" src="{{ image }}" alt="{{ alt }}" loading="lazy">
      <span class="section_card-overview_card_type">{{ type }}</span>
      <h2 class="section_card-overview_card_name">{{ name }}, {{ age }}</h2>
    </a>
    {{ /collection:stories }}
  </section>
</main>
