/* ############### */
/* --- general --- */
/* ############### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;

  overflow-x: hidden;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;

  /* background-color: rgb(var(--primaryTextLight)); */
}

/* ############### */
/* --- button --- */
/* ############### */

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.cta-button {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: 1em; /* 24px // based on 24px */
  border-radius: calc((1.25em + 2 * 0.66em) / 2); /* half of font-size + 2 * padding */
  display: inline-block; /* otherwise padding not counted for offset */
  padding: 0.66em 1.5em; /* 20px 45px // based on 30px */
  background-color: rgb(var(--primaryRed));
  box-shadow: 0 0.33em 2em rgba(var(--primaryRed), 0.2); /* 0 8px 48px // based on 24px */
  -moz-box-shadow:  0 0.33em 2em rgba(var(--primaryRed), 0.2); /* 0 8px 48px // based on 24px */
  -webkit-box-shadow:  0 0.33em 2em rgba(var(--primaryRed), 0.2); /* 0 8px 48px // based on 24px */
  color: rgb(var(--primaryTextLight));
  text-align: center;
  margin-top: 2.66em; /* 80px // based on 30px */
  transition: all 0.5s ease;
}

.cta-button:hover {
  transform: translateY(-0.5em);
}

/* ############### */
/* --- grid --- */
/* ############### */

.main-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  padding: 0 5vw;
  margin: 0 auto;
  max-width: 1800px;
}

@media (min-width: 2000px) {
  .main-grid {
    padding: 0;
  }
}

/* ############### */
/* --- header --- */
/* ############### */

.header {
  padding-top: 2.5em;
}

@media (max-width: 600px) {
  .header {
    padding-top: 5vw;
  }
}

.header__content {
  grid-column: 1/14;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content__logo {
  display: flex;
  align-items: center;
  z-index: 1000;
  color: rgb(var(--primaryPurple));
}

.header__content__logo__image {
  height: 3.33em; /* 80px // based on 24px */
  width: auto;
  margin-right: 1em;
  border-radius: 0.67em;
  box-shadow: 0 0 0.33em rgba(var(--primaryPurple), 0.15); /* 0 8px 40px // based on 24px */
  -moz-box-shadow: 0 0 0.33em rgba(var(--primaryPurple), 0.15); /* 0 8px 40px // based on 24px */
  -webkit-box-shadow: 0 0 0.33em rgba(var(--primaryPurple), 0.15); /* 0 8px 40px // based on 24px */
}

.header__content__logo h1 {
  font-size: 1.33rem; /* 32px // based on 24px */
}

/* ############### */
/* --- navigation --- */
/* ############### */

#header__content__nav {
  position: relative;
  display: flex;

  /* TODO */
  display: none !important;
}

#header__content__nav a {
  font-size: 1.25em; /* 30px // based on 24px */
  font-weight: 700;
  color: rgb(var(--primaryPurple));
  margin-left: 1.33em; /* 40px // based on 30px */
  padding-top: 0.5em; /* 15px // based on 30px */
  padding-bottom: 0.5em;
}

.nav__cta {
  border-radius: 50px;
  padding: 0.5em 1.5em; /* 15px 45px // based on 30px */
  background-color: rgb(var(--blueUltraLightViolett));
}

.header__scroll-to-top {
  width: 3.33em; /* 80px // based on 24px */
  height: 3.33em; /* 80px // based on 24px */
  position: fixed;
  z-index: 10;
  right: 5vw;
  bottom: 20vh;

  background-image: url("../images/scroll-to-top.svg");
  background-repeat: no-repeat;
  background-size: 3.33em; /* 80px // based on 24px */

  border-radius: 1.66em; /* 40px // based on 24px */
  box-shadow: 0 0.33em 1.66em rgba(var(--primaryRed), 0.15); /* 0 8px 40px // based on 24px */
  -moz-box-shadow: 0 0.33em 1.66em rgba(var(--primaryRed), 0.15); /* 0 8px 40px // based on 24px */
  -webkit-box-shadow: 0 0.33em 1.66em rgba(var(--primaryRed), 0.15); /* 0 8px 40px // based on 24px */

  transition: all 0.5s ease;
  display: block;
}

.header__scroll-to-top:hover {
  transform: translateY(-0.5em);
}

.header__scroll-to-top.hidden {
  display: none;
}

/* ############### */
/* --- sections --- */
/* ############### */

section {
  grid-column: 1/14;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: relative;
}

.section--top {
  margin-top: 4.17em; /* 100px // based on 24px */
}

.section--top-spacing {
  margin-top: 14.58em; /* 350px // based on 24px */
}

@media (max-width: 1000px) {
  .section--top-spacing {
    margin-top: 10em;
  }
}

/* ############### */
/* --- section header --- */
/* ############### */

.section__header {
}

.section__header .section-headline {
  margin-top: 1em;
}

.section__header__image {
  grid-column: 1/13;
  grid-row: 1;
  width: 140%;
  margin-left: -40vw;
  margin-top: -10em;
}

@media (max-width: 2300px) {
  .section__header__image {
    grid-column: 1/12;
  }
}

@media (max-width: 1400px) {
  .section__header__image {
    margin-top: -6em;
  }
}

@media (max-width: 1100px) {
  .section__header__image {
    grid-column: 1/14;
    grid-row: auto;
    width: 150%;
    margin-left: -50vw;
    margin-top: -9em;
    margin-bottom: 2.08em; /* 50px // based on 24px */
  }
}

@media (max-width: 800px) {
  .section__header__image {
    width: 130%;
    margin-left: -30vw;
    margin-top: -6em;
  }
}

@media (max-width: 600px) {
  .section__header__image {
    width: 200%;
    margin-left: -67vw;
    margin-top: -5em;
  }
}

.section__header__text {
  grid-column: 10/14;
  margin-top: 18em;
  grid-row: 1;
}

@media (max-width: 2300px) {
  .section__header__text {
    margin-top: 15em;
  }
}

@media (max-width: 2000px) {
  .section__header__text {
    grid-column: 9/14;
    margin-top: 12em;
  }
}

@media (max-width: 1100px) {
  .section__header__text {
    grid-column: 3/12;
    margin-top: 0;
    grid-row: auto;
  }
}

@media (max-width: 700px) {
  .section__header__text {
    grid-column: 2/13;
  }
}

.section__header__text__svg {
  margin-top: 1.67em; /* 40px // based on 24px */
  margin-left: -0.5em;
}

@media (max-width: 350px) {
  .section__header__text__svg {
    margin-left: -0.4em;
  }
}

.section__header__text__svg__mouse {
  fill: none;
  stroke: rgb(var(--primaryPurple));
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.section__header__text__svg__scroller {
  fill: none;
  stroke: rgb(var(--primaryPurple));
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

/* ############### */
/* --- section pathly-intro --- */
/* ############### */

.section__pathly-intro__text {
  grid-column: 2/7;
}

@media (max-width: 1300px) {
  .section__pathly-intro__text {
    grid-column: 2/8;
  }
}

@media (max-width: 1000px) {
  .section__pathly-intro__text {
    grid-column: 3/12;
  }
}

@media (max-width: 700px) {
  .section__pathly-intro__text {
    grid-column: 2/13;
  }
}

@media (max-width: 350px) {
  .section__pathly-intro__text {
    grid-column: 1/14;
  }
}

.section__pathly-intro__image {
  width: 100%;
  grid-column: 8/13;
}

@media (max-width: 1300px) {
  .section__pathly-intro__image {
    grid-column: 9/13;
  }
}

@media (max-width: 1000px) {
  .section__pathly-intro__image {
    grid-area: 1/3/1/12;
    margin-bottom: 4.16em; /* 100px // based on 24px */
  }
}

@media (max-width: 550px) {
  .section__pathly-intro__image {
    grid-column: 2/13;
  }
}

/* ############### */
/* --- section key-aspects --- */
/* ############### */

.section__key-aspects {

}

.section__key-aspects__background-image {
  position: absolute;
  width: 80em;
  height: 80em;
  top: -30em;
  left: -24em;
  background-image: url("../images/background/home_key-aspects_background.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

@media (max-width: 2000px) {
  .section__key-aspects__background-image {
    top: -27em;
    left: -25em;
    background-size: 90%;
  }
}

@media (max-width: 1500px) {
  .section__key-aspects__background-image {
    top: -23em;
    left: -22em;
    background-size: 80%;
  }
}

@media (max-width: 1300px) {
  .section__key-aspects__background-image {
    top: -21em;
    left: -24em;
    background-size: 70%;
  }
}

@media (max-width: 1000px) {
  .section__key-aspects__background-image {
    top: -27em;
    left: -13em;
    background-size: 105%;
  }
}

@media (max-width: 700px) {
  .section__key-aspects__background-image {
    top: -25em;
    left: -23em;
    background-size: 95%;
  }
}

.section__key-aspects__video {
  position: relative;
  width: 100%;
  grid-column: 1/7;
}

@media (max-width: 1300px) {
  .section__key-aspects__video {
    grid-column: 1/6;
    margin-top: 2em;
  }
}

@media (max-width: 1000px) {
  .section__key-aspects__video {
    grid-column: 3/12;
    margin-bottom: 8.33em; /* 200px // based on 24px */
  }
}

@media (max-width: 700px) {
  .section__key-aspects__video {
    grid-column: 2/13;
    margin-bottom: 4.17em; /* 100px // based on 24px */
  }
}


.section__key-aspects__key-list {
  width: 100%;
  grid-column: 8/13;
  margin-top: 3em;
}

@media (max-width: 1800px) {
  .section__key-aspects__key-list {
    margin-top: 0;
  }
}

@media (max-width: 1300px) {
  .section__key-aspects__key-list {
    grid-column: 7/13;
  }
}

@media (max-width: 1000px) {
  .section__key-aspects__key-list {
    grid-column: 3/12;
  }
}

@media (max-width: 700px) {
  .section__key-aspects__key-list {
    grid-column: 2/13;
  }
}

.section__key-aspects__key-list__item:not(:last-child) {
  margin-bottom: 3em; /* 72px // based on 24px */
}

.section__key-aspects__key-list__item__button {
  font-size: 1em; /* 24px // based on 24px // workaround, otherwise font-size 11px */
  border: 0;
  background: none;
  text-align: left;
  cursor: pointer;
  opacity: 0.4;
  position: relative;
  padding-left: calc(4em + 1.66em); /* icon width + spacing 40px // based on 24px */
  background-repeat: no-repeat;
  background-size: 4em; /* 96px // based on 24px */
  min-height: 4em; /* 96px // based on 24px */
  transition: all 0.5s ease;
}

@media (max-width: 550px) {
  .section__key-aspects__key-list__item__button {
    padding-left: calc(3em + 1.66em);
    background-size: 3em;
  }
}

@media (max-width: 450px) {
  .section__key-aspects__key-list__item__button {
    padding-left: calc(2em + 1em);
    background-size: 2em;
    margin-left: -0.5em;
  }
}

.section__key-aspects__key-list__item__button.active {
  opacity: 1;
}

.section__key-aspects__key-list__item__button:hover {
  transform: translateX(0.5em);
}

/* ############### */
/* --- section your-path --- */
/* ############### */

.section__your-path {

}

.section__your-path__background-image {
  position: absolute;
  z-index: -1;
  width: 100em;
  height: 100em;
  top: -10em;
  left: 40em;
  background-image: url("../images/background/home_your-path_background.svg");
  background-repeat: no-repeat;
  background-size: 70%;
}

@media (max-width: 1600px) {
  .section__your-path__background-image {
    left: 30em;
    background-size: 60%;
  }
}

@media (max-width: 1200px) {
  .section__your-path__background-image {
    left: 23em;
    background-size: 60%;
  }
}

@media (max-width: 700px) {
  .section__your-path__background-image {
    top: -9em;
    left: 15em;
    background-size: 60%;
  }
}

@media (max-width: 500px) {
  .section__your-path__background-image {
    left: 10em;
  }
}

.section__your-path__text {
  grid-column: 2/14;
  margin-bottom: 3.33em; /* 80px // based on 24px */
}

@media (max-width: 1000px) {
  .section__your-path__text {
    grid-column: 3/12;
  }
}

@media (max-width: 700px) {
  .section__your-path__text {
    grid-column: 2/13;
  }
}

@media (max-width: 350px) {
  .section__your-path__text {
    grid-column: 1/14;
  }
}

.section__your-path__images {
  grid-column: 1/14;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

@media (max-width: 1000px) {
  .section__your-path__images {
    grid-template-columns: repeat(11, 1fr);
    width: 120vw;
    margin-left: -15vw;
  }
}

@media (max-width: 700px) {
  .section__your-path__images {
    width: 140vw;
    margin-left: -25vw;
  }
}

@media (max-width: 500px) {
  .section__your-path__images {
    width: 150vw;
    margin-left: -30vw;
  }
}

.section__your-path__image {
  width: 100%;
  border-radius: 8%;
  box-shadow: 0 0.33em 1.66em rgba(var(--primaryTextDark), 0.15); /* 0 8px 40px // based on 24px */
  -moz-box-shadow: 0 0.33em 1.66em rgba(var(--primaryTextDark), 0.15); /* 0 8px 40px // based on 24px */
  -webkit-box-shadow: 0 0.33em 1.66em rgba(var(--primaryTextDark), 0.15); /* 0 8px 40px // based on 24px */
  transition: all 0.5s ease;
}

.section__your-path__image:hover {
  transform: translateY(-0.5em);
}

.section__your-path__image1 {
  grid-column: 2/5;
}

@media (max-width: 1000px) {
  .section__your-path__image1 {
    grid-column: 1/4;
  }
}

.section__your-path__image2 {
  grid-column: 6/9;
}

@media (max-width: 1000px) {
  .section__your-path__image2 {
    grid-column: 5/8;
  }
}

.section__your-path__image3 {
  grid-column: 10/13;
}

@media (max-width: 1000px) {
  .section__your-path__image3 {
    grid-column: 9/12;
  }
}

.section__your-path__cta {
  grid-column: 1/14;
  justify-self: center;
  border: 0;
}



/* ############### */
/* --- section collaboration --- */
/* ############### */

.section__collaboration__text {
  grid-column: 8/13;
}

@media (max-width: 1300px) {
  .section__collaboration__text {
    grid-column: 7/13;
  }
}

@media (max-width: 1000px) {
  .section__collaboration__text {
    grid-area: 2/3/2/12;
  }
}

@media (max-width: 700px) {
  .section__collaboration__text {
    grid-column: 2/13;
  }
}

@media (max-width: 350px) {
  .section__collaboration__text {
    grid-column: 1/14;
  }
}

.section__collaboration__image {
  width: 100%;
  grid-area: 1/2/1/7;
}

@media (max-width: 1300px) {
  .section__collaboration__image {
    grid-column: 2/6;
  }
}

@media (max-width: 1000px) {
  .section__collaboration__image {
    grid-column: 3/12;
    margin-bottom: 4.16em; /* 100px // based on 24px */
  }
}

@media (max-width: 550px) {
  .section__collaboration__image {
    grid-column: 2/13;
  }
}

.section__collaboration__text__button {
  display: inline-flex;
  align-items: center;
}

.section__collaboration__text__button::before {
	width: 1em; /* 32px // based on 24px */
	height: 1em;
	content: "";
  background-image: url("../images/icons/home_collaboration_button_icon.svg");
  background-size: 1em auto;
  background-repeat: no-repeat;
  margin-right: 0.67em; /* 16px // based on 24px */
}

/* ############### */
/* --- section supporter --- */
/* ############### */

.section__supporter__text {
  grid-column: 2/14;
  margin-bottom: 3.33em; /* 80px // based on 24px */
}

@media (max-width: 1000px) {
  .section__supporter__text {
    grid-column: 3/12;
  }
}

@media (max-width: 700px) {
  .section__supporter__text {
    grid-column: 2/13;
  }
}

@media (max-width: 350px) {
  .section__supporter__text {
    grid-column: 1/14;
  }
}

.section__supporter__slick-slider {
  grid-column: 1/14;
}

.section__supporter__slick-slider__list {
  width: 100vw;
  margin-left: -5vw; /* -5vw of main-grid offset */
}

.slick-list {
  overflow: visible !important;
}

.section__supporter__slick-slider__list__item {
  width: auto !important;
}

.section__supporter__slick-slider__list__item__image {
  border-radius: 50%;
  box-shadow: 0 0.83em 1.66em rgba(var(--primaryTextDark), 0.2); /* 0 20px 40px // based on 24px */
  -moz-box-shadow: 0 0.83em 1.66em rgba(var(--primaryTextDark), 0.2); /* 0 20px 40px // based on 24px */
  -webkit-box-shadow: 0 0.83em 1.66em rgba(var(--primaryTextDark), 0.2); /* 0 20px 40px // based on 24px */
  position: relative;
}

.section__supporter__slick-slider__list__item:nth-of-type(2n) {
  margin: 6.25em 3.33em 0 3.33em; /* 150px 80px // based on 24px */
}

img.section__supporter__slick-slider__list__item__image--small {
  width: 6.25em; /* 150px // based on 24px */
}

img.section__supporter__slick-slider__list__item__image--big {
  width: 12.5em; /* 300px // based on 24px */
}

/* ############### */
/* --- section meta --- */
/* ############### */

.section__meta {
  grid-column: 2/13;
  margin-top: 4.17em; /* 100px // based on 24px */
  margin-bottom: 8.33em; /* 200px // based on 24px */
}

@media (max-width: 350px) {
  .section__meta {
    grid-column: 1/14;
  }
}

.section__meta__text {
  grid-column: 1/14;
  word-break: break-word;
}

.section__meta * + h1,
.section__meta * + h2,
.section__meta * + h3 {
  margin-top: 3.33em; /* 80px // based on 24px */
}

.section__meta h1 + p,
.section__meta h2 + p,
.section__meta h3 + p,
.section__meta h2 + h3 {
  margin-top: 2.08em; /* 50px // based on 24px */
}

.section__meta a {
  color: rgb(var(--primaryTextDark));
}

/* ############### */
/* --- section linklist --- */
/* ############### */

.section__linklist {
  grid-column: 2/13;
}

@media (max-width: 350px) {
  .section__linklist {
    grid-column: 1/14;
  }
}

.section__linklist__text {
  grid-column: 1/14;
}

.section__linklist__list {
  grid-column: 1/14;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.17em; /* 100px // based on 24px */
}

.section__linklist__list__item {
  display: flex;
  flex: 1 0 45%;
  overflow: hidden;
  padding: 0.67em; /* 16px // based on 24px */
  margin-bottom: 1.67em; /* 40px // based on 24px */
  border-radius: 0.67em; /* 16px // based on 24px */
  background-color: rgb(var(--primaryTextLight));
}

@media (max-width: 1000px) {
  .section__linklist__list__item {
    flex: 1 0 100%;
  }
}

.section__linklist__list__item:nth-child(2n+1) {
  margin-right: 1.67em; /* 40px // based on 24px */
}

@media (max-width: 1000px) {
  .section__linklist__list__item:nth-child(2n+1) {
    margin-right: 0;
  }
}

.section__linklist__list__item__anchor {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.section__linklist__list__item__image {
  flex-shrink: 0;
  width: 2em; /* 48px // based on 24px */
  height: 2em; /* 48px // based on 24px */
  border-radius: 0.42em; /* 10px // based on 24px */
  margin-right: 1em; /* 24px // based on 24px */
}

.section__linklist__list__item p {
  color: rgb(var(--primaryTextDark));
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* ############### */
/* --- section footer --- */
/* ############### */

.section__footer {
  margin-bottom: 14.58em; /* 350px // based on 24px */
}

.section__footer__text {
  font-family: "neue-kabel";
  font-size: 1.67rem; /* 40px // based on 24px */
  line-height: 1.2; /* 58px // based on 48px */
  font-weight: 700;
  grid-column: 6/13;
}

@media (max-width: 800px) {
  .section__footer__text {
    grid-column: 3/12;
  }
}

@media (max-width: 700px) {
  .section__footer__text {
    grid-column: 2/13;
  }
}

@media (max-width: 500px) {
  .section__footer__text {
    font-size: 1.33rem; /* 32px // based on 24px */
  }
}

@media (max-width: 350px) {
  .section__footer__text {
    grid-column: 1/14;
  }
}

.section__footer__text a {
  color: rgb(var(--primaryRed));
}

/* ############### */
/* --- footer --- */
/* ############### */

.main-footer {

}

.main-footer__background-image {
  position: absolute;
  width: 100em;
  height: 60em;
  bottom: 0;
  left: 10em;
  z-index: -1;
  background-image: url("../images/background/footer_background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 1700px) {
  .main-footer__background-image {
    background-size: 130%;
  }
}

@media (max-width: 1100px) {
  .main-footer__background-image {
    left: -15em;
  }
}

.main-footer__list {
  grid-column: 1/14;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.66em; /* 40px // based on 24px */
}

@media (max-width: 450px) {
  .main-footer__list {
    grid-column: 2/13;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .main-footer__list {
    grid-column: 1/14;
  }
}

.main-footer__list li {
  margin-right: 1.66em; /* 40px // based on 24px */
}

@media (max-width: 450px) {
  .main-footer__list li {
    margin-bottom: 0.67em; /* 18px // based on 24px */
  }
}

.main-footer__list__meta {
  display: flex;
}
