html {
  font-family: "azo-sans-web";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #314355;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
}

@media (max-width: 1600px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: 2.67rem; /* 64px // based on 24px */
}

h2 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: 1.67rem; /* 40px // based on 24px */
  line-height: 1.2; /* 58px // based on 48px */
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.33rem; /* 32px // based on 24px */
  }
}

h2.section-headline {
  font-size: 3.33rem; /* 80px // based on 24px */
  line-height: 1;
  margin-left: -1em;
  margin-bottom: -0.4em;
  color: rgba(var(--primaryPurple), 0.2);
}

@media (max-width: 1300px) {
  h2.section-headline {
    margin-left: 0.4em;
  }
}

@media (max-width: 700px) {
  h2.section-headline {
    margin-left: -0.5em;
  }
}

@media (max-width: 500px) {
  h2.section-headline {
    font-size: 2.67rem; /* 64px // based on 24px */
  }
}

@media (max-width: 350px) {
  h2.section-headline {
    margin-left: 0.4em;
  }
}

/*
h2.section-headline--left {
  grid-column: 1/8;
}

@media (max-width: 1000px) {
  h2.section-headline--left {
    grid-column: 2/13;
  }
}

@media (max-width: 700px) {
  h2.section-headline--left {
    grid-column: 1/14;
  }
}

h2.section-headline--full-width {
  grid-column: 1/13;
}

@media (max-width: 1000px) {
  h2.section-headline--full-width {
    grid-column: 2/13;
  }
}

@media (max-width: 700px) {
  h2.section-headline--full-width {
    grid-column: 1/14;
  }
}

h2.section-headline--right {
  grid-column: 8/14;
}

@media (max-width: 1300px) {
  h2.section-headline--right {
    grid-column: 7/14;
  }
}

@media (max-width: 1000px) {
  h2.section-headline--right {
    grid-column: 2/13;
  }
}

@media (max-width: 700px) {
  h2.section-headline--right {
    grid-column: 1/14;
  }
} */

h2.section-headline--bottom-spacing {
  margin-bottom: 1em;
}

h3 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: 1.33rem; /* 32px // based on 24px */
}

li h3 {
  font-family: "neue-kabel";
  font-size: 1.67rem; /* 40px // based on 24px */
  line-height: 1.2; /* 58px // based on 48px */
  color: rgba(var(--primaryPurple));
  margin-bottom: 0.33em; /* 16px // based on 48px */
}

@media (max-width: 1400px) {
  li h3  {
    /* font-size: 1.5rem; */
  }
}

p {
  font-family: "azo-sans-web";
  font-size: 1rem; /* 24px // based on 24px */
  line-height: 1.5; /* 36px // based on 24px */
}

p + p {
  margin-top: 1em;
}

li p,
li a {
  font-family: "neue-kabel";
  font-size: 1.25rem; /* 30px // based on 24px */
  line-height: 1.2; /* 36px // based on 30px */
  font-weight: 500;
  color: rgb(var(--primaryPurple));
}

@media (max-width: 1400px) {
  li p,
  li a  {
    font-size: 1rem;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}
