html,
body {
  font-family: "azo-sans-web";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #314355;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
}

@media (max-width: 1600px) {
  html,
  body {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  html,
  body {
    font-size: 20px;
  }
}


h1,
h2 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: var(--root40px);
  line-height: 1.2;
}

@media (max-width: 650px) {
  h1,
  h2 {
    font-size: var(--root40px);
  }
}

h2.section-headline--addition {
  font-size: var(--root24px);
  font-weight: 500;
  color: var(--primary_purple);
}

h2.section-headline {
  margin-bottom: var(--root48px);
}

h3 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: var(--root32px);
}

@media (max-width: 650px) {
  h3 {
    font-size: var(--root24px);
  }
}

p {
  font-family: "azo-sans-web";
  font-size: var(--root20px);
  line-height: 1.6;
}

p + p {
  margin-top: var(--root24px);
}

a {
  font-family: 'neue-kabel';
  font-weight: 700;
  font-size: var(--root24px);
  color: var(--primary_purple);
}

li::marker {
  color: var(--primary_purple);
}
