html {
  font-family: "azo-sans-web";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #314355;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
}

@media (max-width: 1600px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: var(--root64px);
}

h2 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: var(--root40px);
  line-height: 1.2;
}

@media (max-width: 500px) {
  h2 {
    font-size: var(--root32px);
  }
}

/* TODO: section-headline-addition will be outdated */
h2.section-headline-addition,
h2.section-headline--addition {
  font-size: var(--root80px);
  line-height: 1;
  margin-bottom: -0.4em;
  color: rgba(var(--primaryPurple), 0.2);
}

@media (max-width: 500px) {
  h2.section-headline-addition,
  h2.section-headline--addition {
    font-size: var(--root64px);
  }
}

h2.section-headline--bottom-spacing {
  margin-bottom: var(--root24px);
}

h3 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: var(--root40px);
}

li h3 {
  font-family: "neue-kabel";
  font-weight: 700;
  font-size: var(--root40px);
  line-height: 1.2;
  color: rgba(var(--primaryPurple));
  margin-bottom: var(--root16px);
}

p {
  font-family: "azo-sans-web";
  font-size: var(--root24px);
  line-height: 1.5;
}

p + p {
  margin-top: var(--root24px);
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}
